{% parameter_list %}
  {% for p in method.requiredParameters %}
    {% parameter %}{{ p.typeHint }} ${{p.memberName}}{% end_parameter %}
  {% endfor %}
  {% if method.requestType %}
    {% parameter %}
      Model\{{ method.requestType.className }} $postBody
    {% end_parameter %}
  {% endif %}
  {% parameter %}$optParams = array(){% end_parameter %}
{% end_parameter_list %}
