{% filter noblanklines %}
{% if resource.json %}
    $this->{{ resource.phpPropName }} = new {{ api.className }}\Resource\{{ resource.className }}(
        $this,
        $this->serviceName,
        '{{ resource.codeName }}',
{% indent 4 %}{% call_template _methods_decl methods=resource.methods %}{% endindent %}
    );
{% endif %}

{% endfilter %}{% for r in resource.resources %}{% if not forloop.first %}

{% endif %}{% filter noblanklines %}
{% call_template _resource_decl resource=r %}
{% endfilter %}{% endfor %}
